.MainContainer {
  background-color: rgb(36, 36, 36);
  position: fixed;
  top: -2%;
  left: -2%;
  width: 102%;
  height: 102%;
}

.WheelContainer {
  roblox-type: ScrollingFrame;
  roblox-parent: MainContainer;
  roblox-scroll-type: horizontal;
  roblox-scroll-bar: false;
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 20%;
  top: 50%;
  position: fixed;
}

.ResultSlot {
  background-color: rgb(43, 45, 48);
  image-color: rgb(255, 255, 255);
  width: 9%;
  height: 30%;
  position: relative;
  top: 10%;
  left: 45%;
  roblox-type: ImageLabel;
  border-radius: 8px;
  transition: 200ms ease-in-out;
  roblox-image: 122127188357387;
  background-transparency: 1;
  roblox-parent: MainContainer;
}

.ResultSlot:hover {
  width: 10%;
  height: 35%;
  top: 8%;
  image-color: rgb(255, 255, 255);
}

.PresetSlot {
  roblox-type: ImageLabel;
  roblox-parent: WheelContainer;
  roblox-image: 76339519108896;
  background-color: rgb(59, 59, 59);
  image-color: rgb(255, 191, 41);
  position: relative;
  width: 5%;
  height: 5%;
  top: 1%;
  left: 1%;
}
