.TestDiv {
  background-color: gray;
  height: 200px;
  width: 500px;
  position: fixed;
  left: 200px;
  top: 25%;
  border-width: 0px;
  roblox-type: ImageLabel;
}

.SecondDiv {
  background-color: black;
  height: 50px;
  width: 50px;
  position: relative;
  left: 20%;
  top: 25%;
  border-size: 0px;
  roblox-type: ImageLabel;
  roblox-parent: TestDiv;
  transition: 1s ease-in-out;
}

.SecondDiv:hover {
  background-color: gray;
}
